@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
    --color-white:#f3f3f3;
    --color-darkblue:#796ec8;
    --color-darkblue-alpha:rgba(10, 125, 10, 0.602);
    --color-green:#30cb6b;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Amatic SC', cursive;
    /*font-family: 'Poppins',sans-serif;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-white);
    margin: 0;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    /*background-image: linear-gradient(100deg,rgba(74, 132, 69, 0.8),rgba(124, 192, 147, 0.8)),url(/backround.jpeg);*/
    background-image: linear-gradient(100deg,rgba(31, 158, 116, 0.8),rgba(58, 226, 114, 0.8)),url(https://images.unsplash.com/photo-1462717909674-1e3e107e231b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFlc3RoZXRpYyUyMGZvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80
);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#title{
    color: var(--color-green);
    font-weight: 600;
    font-size: 5rem;
    
    
}
h1{
    font-weight: 400;
    line-height: 1.2;
}
p{
    font-size: 1.125rem;
}
h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,button,select,textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding:1.8rem 1rem;
}
.container2{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding: 1.8rem 1rem;
    align-items: center;
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
}
#description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}
.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}
#quest{
    color: rgb(88, 67, 25);
    font-size: 1.5rem;
}
form{
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
}

@media (min-width: 480px){
    form{
        padding: 2.5rem;
    }
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.formControl{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #3b5977;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}


 
.formControl:focus{
    border-color:blue;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25)
}
/*.checkbox*/
.inputRadio
{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;

}
.textarea{
    width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    outline: none;
    border-color: rgb(69, 222, 9);
    border-radius: 5px;
}
.btn{
    display: block;
    width: 100%;
    margin-top: 30px;
    /*padding:0.5rem 0.75rem;*/
    /*background: var(--color-green);*/
    color: var(--color-green);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(88, 67, 25);
    border: 'none';
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width:800px){
    .container{
        max-width: 760px;
    }
}

.q0{
    display: block
}
.q1 {
    display: none 
}
.q2 {
    display: none
}
.q3 {
    display: none
}

.q4 {
    display: none
}

.q5 {
    display: none
}

.q6 {
    display: none
}

.q7 {
    display: none
}
.q8 {
    display: none
}
.q9 {
    display: none
}

.q10 {
    display: none
}

.q11 {
    display: none
}
.q12 {
    display: none
}
.landingpage {
    display: none
}


#next0{
    display: block
}

#next1{
    display: none
}

#next2{
    display: none
}

#next3{
    display: none
}

#next4{
    display: none
}

#next5{
    display: none
}

#next6{
    display: none
}

#next7{
    display: none
}

#next8{
    display: none
}

#next9{
    display: none
}

#next10{
    display: none
}

#next11{
    display: none
}

#next12{
    display: none
}

#back1{
    display: none
}

#back2{
    display: none
}
#back3{
    display: none
}
#back4{
    display: none
}
#back5{
    display: none
}
#back6{
    display: none
}
#back7{
    display: none
}
#back8{
    display: none
}
#back9{
    display: none
}
#back10{
    display: none
}
#back11{
    display: none
}
#back12{
    display: none
}
#back13{
    display: none
}

